<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
     throwExceptions="true"
      internalLogFile="/logs/internal-nlog.txt">

  <targets>
    <target name="allfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}_general.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="function" layout="${callsite:includeSourcePath=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
      </layout>
    </target>
    <target name="accessLogFile" xsi:type="File" fileName="${basedir}/logs/accessLog.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target name="global_exception" xsi:type="File" fileName="${basedir}/logs/${shortdate}_global_exception.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="function" layout="${callsite:includeSourcePath=true}"/>
        <attribute name="message" layout="${message}${exception:format=tostring,Data:maxInnerExceptionLevel=10}" />
        <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
        <attribute name="clientIp" layout="${aspnet-Request-Ip:CheckForwardedForHeader=true}" />
        <attribute name="method" layout="${aspnet-Request-Method}" />
        <attribute name="method" layout="${aspnet-Request-Method}" />
        <attribute name="queryString" layout="${aspnet-Request-QueryString}" />
        <attribute name="userAgent" layout="${aspnet-Request-UserAgent}" />
        <attribute name="url" layout="${aspnet-Request-Url}" />
        <attribute name="headers" layout="${aspnet-Request-Headers}" />
      </layout>
    </target>
    
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->

    <logger name="global_exception" writeTo="global_exception" />
    <logger name="accessLogger" writeTo="accessLogFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />



  </rules>
</nlog>