
@{
    ViewData["Title"] = "PasswordRecovery";
}

@*<div class="row">
    <div class="col-md-4">
        <div class="forma">*@
<div class="login_wrapper">
    <div class="login_form">
        <section class="login_content">
            <div class="forma">
                <h4 class="secondaryTitle">Enter your email.</h4> <br />
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" id="email" class="UserEmail Email form-control" required />
                    <div id="notEmailText" style="display: none">Email address is invalid!</div>

                </div>
                <button type="submit" id="submitbutton" class="subEmail btn btn-success">Submit</button>
            </div>
        </section>
    </div>
</div>

@*Pop-ups*@

<div class="cd-popup4" role="alert">
    <div class="cd-popup-container">
        <p class="popupTitle">Password recovery link has been sent to your email.</p>
        <ul class="cd-buttons">
            <li><a class="cancleBuy2" href="#0">Close</a></li>
        </ul>
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div>
</div>

<div class="cd-popup3" role="alert">
    <div class="cd-popup-container">
        <p class="popupTitle">Password recovery Failed!</p>
        <ul class="cd-buttons">
            <li><a class="closeBtn" href="#0">Close</a></li>
        </ul>
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('.subEmail').on('click', function (event) {
                $.ajax({
                    type: "POST",
                    url: "/api/Auth/PasswordRecovery",
                    data: JSON.stringify({ "UserName": $('.UserEmail').val() }),
                    contentType: 'application/json',
                    success: data => {
                        $('.cd-popup4').addClass('is-visible');  //show popup
                        setTimeout(function () {
                            window.location.href = "/Auth/Login";
                        }, 4000)
                    },
                    error: data => {
                        $('.cd-popup3').addClass('is-visible');  //show popup
                    }
                });
            });
            $('.cd-popup4, .cd-popup3').on('click', function (event) {
                if ($(event.target).is('.cd-popup-close, .closeBtn, .cancleBuy2') || $(event.target).is('.cd-popup')) {
                    event.preventDefault();
                    $(this).removeClass('is-visible');
                }
            });

            //form validation
            function validateEmail(email) {
                var re = /[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}/;
                return re.test(email);
            }

            var y = document.getElementById("email");         // function checks if input Amount is greater than 0 if not it disables submit button,
            y.addEventListener('keyup', function (event) {              // ads an "alert" div and border color and also checks if input value is a number.
                var x = document.getElementById("email").value;
                if (!validateEmail(x)) {
                    y.classList.add("mystyle");
                    document.getElementById('notEmailText').style.display = 'block';
                    document.getElementById('submitbutton').disabled = true;
                    
                } else {
                    y.classList.remove("mystyle");
                    document.getElementById('notEmailText').style.display = 'none';
                    document.getElementById('submitbutton').disabled = false;
                }
            });

        });
    </script>
}
