
@{
    ViewData["Title"] = "Recover";
}

<div class="login_wrapper">
    <div class="login_form">

            <h2>Recovery completed!</h2>
            <h3>You can now login <a href="/auth/login"> here</a>.</h3>
    </div>
</div>
