<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
     throwExceptions="true"
      internalLogFile="/logs/internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target name="allfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="function" layout="${callsite:includeSourcePath=true}"/>
        <attribute name="message" layout="${message}" />
      </layout>
    </target>    
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
    
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

  </rules>
</nlog>